@using Project.MyClass
@using Project.Models

@functions{
    public MyDbContext db = new MyDbContext();
    public string GetStar(int _ProductId, int _Star)
    {
        int _NumberStar = db.Rating.Where(item => item.ProductId == _ProductId && item.Star == _Star).Count();
        return _NumberStar.ToString();
    }
    public string ListCategoriesProductsName(int _ProductId)
    {
        /*        
        List<ItemCategoriesProducts> list_categories_products = db.CategoriesProducts.Where(item=>item.ProductId == _ProductId).ToList();
        string str = "";
        foreach(var item_category_product in list_categories_products)
            {
            ItemCategory record_category = db.Categories.Where(item => item.Id == item_category_product.CategoryId).FirstOrDefault();
            if(record_category != null)
                {
                str += record_category.Name + ", ";
        }
        }
        return str;
        */
        var list_categories = (from product in db.Products join category_product in db.CategoriesProducts on product.Id equals category_product.ProductId join category in db.Categories on category_product.CategoryId equals category.Id where product.Id == _ProductId select new { category.Name }).ToList();
        string str = "";
        var last = list_categories.LastOrDefault();
        foreach (var item in list_categories)
        {
            str += item.Name + ",  ";
            if (item.Equals(last))
            {
                str += item.Name + ".";
            }
        }
        return str;
    }
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/sweetalert2.min.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    @Html.Partial("~/Views/Shared/Menu.cshtml")
    

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/Home"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Shop </a>
                        <span>@Model.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="~/Upload/Products/@Model.Photo" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="~/Upload/Products/@Model.Photo" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="~/Upload/Products/@Model.Photo" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="~/Upload/Products/@Model.Photo" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="~/Upload//Products/@Model.Photo" alt="">
                                <img data-hash="product-2" class="product__big__img" src="~/Upload//Products/@Model.Photo" alt="">
                                <img data-hash="product-3" class="product__big__img" src="~/Upload//Products/@Model.Photo" alt="">
                                <img data-hash="product-4" class="product__big__img" src="~/Upload//Products/@Model.Photo" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>@Model.Name </h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            
                            <span>(@GetStar(Model.Id,1) review)</span>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            
                            <span>(@GetStar(Model.Id,2) review)</span>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            
                            <span>(@GetStar(Model.Id,3) review)</span>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                           
                            <span>(@GetStar(Model.Id,4) review)</span>
                        </div>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>(@GetStar(Model.Id,5) review)</span>
                        </div>
                        <div class="product__details__price">$@string.Format("{0:#,#.}",Model.Price)</div>
                        <p>Discount : @Model.Discount %</p>
                        <div class="product__details__button">
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                            <a href="/Cart/Add/@Model.Id" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                            <ul>
                                <li><a href="/Wishlist/Add/@Model.Id"><span class="icon_heart_alt"></span></a></li>
                                @*<li><a href="#"><span class="icon_adjust-horiz"></span></a></li>*@
                            </ul>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Category:</span>
                                    <p style="overflow: hidden">@ListCategoriesProductsName(Model.Id)</p>
                                </li>
                                @*<li>
                                    <span>Availability:</span>
                                    <div class="stock__checkbox">
                                        <label for="stockin">
                                            In Stock
                                            <input type="checkbox" id="stockin">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available color:</span>
                                    <div class="color__checkbox">
                                        <label for="red">
                                            <input type="radio" name="color__radio" id="red" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                        <label for="black">
                                            <input type="radio" name="color__radio" id="black">
                                            <span class="checkmark black-bg"></span>
                                        </label>
                                        <label for="grey">
                                            <input type="radio" name="color__radio" id="grey">
                                            <span class="checkmark grey-bg"></span>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        <label for="xs-btn" class="active">
                                            <input type="radio" id="xs-btn">
                                            xs
                                        </label>
                                        <label for="s-btn">
                                            <input type="radio" id="s-btn">
                                            s
                                        </label>
                                        <label for="m-btn">
                                            <input type="radio" id="m-btn">
                                            m
                                        </label>
                                        <label for="l-btn">
                                            <input type="radio" id="l-btn">
                                            l
                                        </label>
                                    </div>
                                </li>*@
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>@Html.Raw(Model.Description)</p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                                <p>@Html.Raw(Model.Content)</p>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 2 )</h6>
                                <p>
                                    @Html.Raw(Model.Description)
                                    @Html.Raw(Model.Content)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-1.jpg">
                            <div class="label new">New</div>
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Buttons tweed blazer</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-2.jpg">
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-2.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Flowy striped skirt</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 49.0</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-3.jpg">
                            <div class="label stockout">out of stock</div>
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Cotton T-Shirt</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-4.jpg">
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Slim striped pocket shirt</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </section>
    <!-- Product Details Section End -->
    S
    @Html.Partial("~/Views/Shared/Footer.cshtml")

    <!-- Js Plugins -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/mixitup.min.js"></script>
    <script src="~/assets/js/jquery.countdown.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/sweetalert2.all.min.js"></script>
</body>

</html>