@using Project.MyClass
@using Project.Models

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@functions{
    public MyDbContext db = new MyDbContext();
    
    public List<ItemBlog> ListBlog(int _id)
    {
        _id = Model.Id;
        List<ItemBlog> list_blog = db.Blogs.Where(item => item.Id != _id).OrderByDescending(item => item.Create_at).Take(5).ToList();
        return list_blog;
    }
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/Home"><i class="fa fa-home"></i> Home</a>
                    <a href="/Blog">Blog</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="blog__details__content">
                    <div class="blog__details__item">
                        <img src="~/Upload/Blog/@Model.Photo" width="750px" height="500px" alt="">
                        <div class="blog__details__item__title">
                            <span class="tip">Thông tin Game</span>
                            <h4>@Model.Title</h4>
                            <ul>
                                <li>by <span>Trần Minh Hiển</span></li>
                                <li>@Model.Update_at</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog__details__desc">
                        <p>

                            @Html.Raw(Model.Description)
                        </p>

                    </div>
                    <div class="blog__details__desc">
                        <iframe width="700" height="400" src="@Model.Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="blog__details__desc">

                        <p>

                            @Html.Raw(Model.Content)
                        </p>
                    </div>


                    <div class="blog__details__tags">
                        <a href="#">Game24h</a>
                        <a href="#">Thông tin game</a>
                        <a href="#">Tin tức</a>
                    </div>

                    @*<div class="blog__details__comment">
                    <h5>3 Comment</h5>
                    <a href="#" class="leave-btn">Leave a comment</a>
                    <div class="blog__comment__item">
                    <div class="blog__comment__item__pic">
                    <img src="~/asset/admin/img/img_blog/hai.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="blog__comment__item__text">
                    <h6>Khánh béo 8c</h6>
                    <p>
                    Trên cả tuyệt vời
                    </p>
                    <ul>
                    <li><i class="fa fa-clock-o"></i> Seb 17, 2019</li>
                    <li><i class="fa fa-heart-o"></i> 12</li>
                    <li><i class="fa fa-share"></i> 1</li>
                    </ul>
                    </div>
                    </div>
                    <div class="blog__comment__item blog__comment__item--reply">
                    <div class="blog__comment__item__pic">
                    <img src="~/asset/admin/img/img_blog/hai.png" width="90px" height="90px" alt="">
                    </div>
                    <div class="blog__comment__item__text">
                    <h6>Hải sad thủ</h6>
                    <p>
                    Quá hay
                    </p>
                    <ul>
                    <li><i class="fa fa-clock-o"></i> Seb 17, 2019</li>
                    <li><i class="fa fa-heart-o"></i> 12</li>
                    <li><i class="fa fa-share"></i> 1</li>
                    </ul>
                    </div>
                    </div>
                    <div class="blog__comment__item">
                    <div class="blog__comment__item__pic">
                    <img src="~/asset/admin/img/img_blog/bach.jpg" width="90px" height="90px" alt="">
                    </div>
                    <div class="blog__comment__item__text">
                    <h6>Bách - C4 Keqing</h6>
                    <p>
                    Tuyệt vời
                    </p>
                    <ul>
                    <li><i class="fa fa-clock-o"></i> Seb 17, 2019</li>
                    <li><i class="fa fa-heart-o"></i> 12</li>
                    <li><i class="fa fa-share"></i> 1</li>
                    </ul>
                    </div>
                    </div>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__item">
                        <div class="section-title">
                            <h4>Top search</h4>
                        </div>
                        <ul>
                            <li><a href="#">Thông tin game </a></li>
                            <li><a href="#">Tin tức game </a></li>
                            <li><a href="#">Blog </a></li>

                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <div class="section-title">
                            <h4>Feature posts</h4>
                        </div>

                            @{
                                List<ItemBlog> listBlog = ListBlog(Model.Id);
                            }
                            @foreach (var item in listBlog)
                            {

                            <a href="/Blog/Detail/@item.Id" class="blog__feature__item">
                                <div class="blog__feature__item__pic">
                                    <img src="~/Upload/Blog/@item.Photo" width="110px" height="73px" alt="">
                                </div>
                                <div class="blog__feature__item__text">
                                    <h6> @item.Title</h6>
                                    <span>@item.Update_at.ToString("dd/MM/yyyy")</span>
                                </div>
                            </a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->